<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="Form tạo mới User bằng thymeleaf" />
<meta name="author" content="truongFunix20125" />
<title>Thêm mới</title>

<!--Tạo evenClick vào 3 cái nút ẩn hiện nav-->
<script th:src="@{/admin1/assets/js/scripts.js}"></script>
<!--Cái nút 3 gạch ẩn hiện-->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
	crossorigin="anonymous"></script>
<!--Cái khung nav-->
	<link th:href="@{/admin1/assets/css/styles.css}" rel="stylesheet" />
 	<link th:href="@{/user/assets/css/custom-bs.css}" rel="stylesheet">
	<link th:href="@{/user/assets/css/style.css}" rel="stylesheet">
<!--End New-->

</head>

<body class="sb-nav-fixed">
	<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
		<nav th:fragment="html_nav"
			class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
			<!-- Navbar Brand-->
			<a class="navbar-brand ps-3" th:href="@{/admin/home}">QUẢN TRỊ</a>
			<!-- Sidebar Toggle-->
			<button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0"
				id="sidebarToggle" href="#!">
				<i class="fas fa-bars"></i>
			</button>
			<!-- Navbar Search-->
			<form
				class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
			</form>
			<!-- Navbar-->
			<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
				<li class="nav-item dropdown"><a th:if="${session.admin}"
					class="nav-link dropdown-toggle" th:href="@{/logout}"
					role="button"><i class="fas fa-user fa-fw"></i><span>
							Logout</span></a>
					<ul class="dropdown-menu dropdown-menu-end"
						aria-labelledby="navbarDropdown1">
						<li><a class="dropdown-item" href="#">Settings</a></li>
						<li><a class="dropdown-item" href="#">Activity Log</a></li>
						<li>
							<hr class="dropdown-divider" />
						</li>
						<li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
					</ul></li>
			</ul>
		</nav>
	</nav>

	<div id="layoutSidenav">
		<!--Cái Nav-->
		<div id="layoutSidenav_nav">
			<div th:fragment="html_menu" id="layoutSidenav_nav">
				<nav class="sb-sidenav accordion sb-sidenav-dark"
					id="sidenavAccordion">
					<div class="sb-sidenav-menu">
						<div class="nav">
							<a class="nav-link" th:href="@{/admin/users}"> <i
								class="sb-nav-link-icon"> <i class="fas fa-tachometer-alt"></i>
							</i> Quản lý người dùng
							</a> <a class="nav-link" th:href="@{/admin/donations}"> <i
								class="sb-nav-link-icon"> <i class="fas fa-tachometer-alt"></i>
							</i> Quản lý đợt quyên góp
							</a>
						</div>
					</div>
				</nav>
			</div>
		</div>

		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">
					<!--Danh sách người dùng-->
					<div class="card mb-4">
						<div class="card-header">
							<h1 class="my-3">Thêm người dùng mới</h1>
						</div>
						<div class="card-body" style="width: auto;">
								<div th:if="${error}" class="alert alert-warning text-center">[[${error}]]</div>
								<div th:if="${max}" class="alert alert-warning text-center">[[${max}]]</div>
							<div class="modal-content">								
								<form th:action="@{/admin/processAddNewUser}"
									th:object="${newUser}" method="post">
									<input type="hidden" value="1" name="status" />
									<div class="row">
										<div class="col-6">
											<label class="col-form-label ml-2">Họ và Tên:</label>
											<div>
												<input type="text" th:field="*{fullName}"
													class="form-control ml-2" style="width: 95%;"
													placeholder="Full name">
												<div th:if="${#fields.hasErrors('fullName')}" 
													th:errors="*{fullName}" class="alert alert-warning ml-3"  style="width: 93%;"></div>
											</div>
										</div>
										<div class="col-6">
											<label class="col-form-label ml-2">Email:</label>
											<div>
												<input type="email" th:field="*{email}"
													class="form-control " style="width: 95%;"
													placeholder="example@gmail.com">
												<div th:if="${#fields.hasErrors('email')}"
													th:errors="*{email}" class="alert alert-warning ml-2"  style="width: 93%;">
												</div>
											</div>
										</div>
									</div>


									<div class="row">
										<div class="col-6">
											<label class="col-form-label ml-2">Số điện thoại:</label>
											<div>
												<input type="number" style="width: 95%;"
													class="form-control ml-2" th:field="*{phoneNumber}"
													id="phoneNumber" placeholder="--- --- ----"  />
												<div th:if="${#fields.hasErrors('phoneNumber')}"
													class="alert alert-warning ml-3"  style="width: 93%;" th:errors="*{phoneNumber}"></div>
											</div>
										</div>
										<div class="col-6">
											<label class="col-form-label ml-2">Địa chỉ:</label>
											<div>
												<input type="text" style="width: 95%;" th:field="*{address}"
													class="form-control" id="address" placeholder="Địa chỉ"
													 />
												<div th:if="${#fields.hasErrors('address')}"
													th:errors="*{address}" class="alert alert-warning ml-2"  style="width: 93%;"></div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-6">
											<label for="fullName" class="col-form-label ml-2">Tên tài khoản:</label>
											<div>
												<input type="text" style="width: 95%;" id="fullName"
													th:field="*{userName}" class="form-control ml-2" 
													placeholder="Từ 6 đến 20 ký tự"  />
												<div th:if="${#fields.hasErrors('userName')}"
													th:errors="*{userName}" class="alert alert-warning ml-3"  style="width: 93%;"></div>
											</div>

										</div>
										<div class="col-6">
											<label for="password" class="col-form-label ml-2">Mật khẩu:</label>
											<div>
												<input class="form-control" style="width: 95%;" type="text"
													th:field="*{password}" placeholder="xxxxxx" >
												<div th:if="${#fields.hasErrors('password')}"
													th:errors="*{password}" class="alert alert-warning ml-2"  style="width: 93%;">
												</div>
											</div>

										</div>
										<div class="col-6">
											<label for="role" class="col-form-label ml-2">Vai
												trò:</label>
											<div>
												<select id="role" th:field="*{role}" style="width: 95%;"
													class="form-control ml-2" >
													<option value="">--Vai Trò--</option>
													<option value="1">Admin</option>
													<option value="2">User</option>
												</select>
												<div th:if="${#fields.hasErrors('role')}"
													class="alert alert-warning ml-3"  style="width: 93%;" th:errors="*{role}"></div>

											</div>
										</div>
									</div>

									<div class="modal-footer d-flex justify-content-between my-3">
										<!--Xoas data-bs-dismiss="modal"-->
										<a th:href=@{/admin/users}><button type="button"
												data-bs-dismiss="modal" class="btn btn-secondary">Back</button></a>
										<input  type="submit" class="btn btn-primary" value="Thêm"></input>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>

	</div>



</body>

</html>